/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-dark-grey: #181818;
  --vt-c-mid-grey: #1d1d1d;
  --vt-c-light-grey: #353535;
  --vt-c-lightest-grey: #545454;

  --vt-c-white: #e3e3e3;
  --vt-c-white-muted: #aaaaaa;

  --vt-c-black: #323232;

  --vt-c-orange: #f09e5a;
  --vt-c-red: #f43551;
  --vt-c-blue: #2f82e2;
  --vt-c-green: #6ea41a;
  --vt-c-cyan: #94d8b1;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-panel: var(--vt-c-light-grey);
  --color-text-panel: var(--vt-c-white);
  --color-background-panel-element: var(--vt-c-white-muted);
  --color-border-panel: var(--vt-c-mid-grey);

  --color-heading: var(--vt-c-dark-grey);
  --color-text: var(--vt-c-black);

  --color-accent: var(--vt-c-orange);

  --gap-small: 5pt;
  --gap-mid: 7pt;
  --gap-large: 13pt;

  --padding-small: 7pt;
  --padding-mid: 13pt;

  --margin-small: 7pt;
  --margin-mid: 13pt;

  --broder-radius-panel: 7pt;
  --border-radius-panel-element: 5pt;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-dark-grey);
    --color-background-panel: var(--vt-c-grey);
    --color-background-panel-element: var(--vt-light-grey);
    --color-border-panel: var(--vt-c-mid-grey);

    --color-heading: var(--vt-c-white-muted);
    --color-text: var(--vt-c-white);

    --color-accent: var(--vt-c-orange);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
